-if @presentations && !@presentations.empty?
  %ul
    -@presentations.each do |p|
      %li
        =link_to_unless_current ta(:edit,:presentation,:name => p.name), edit_presentation_path(p)
        (
        -if p == current_presentation
          =ta(:current,:presentation)
        -else
          =link_to ta(:use,:presentation), use_presentation_path(p)
        |
        =link_to ta(:clone,:presentation), clone_presentation_path(p)
        |
        -if current_user.default_presentation == p
          =ta(:default,:presentation)
        -else
          =link_to ta(:make_default,:presentation), make_default_presentation_path(p)
        )
