%h1=ta(:index,:presentation)
= render 'list'
%h2
  =ta(:edit,:presentation,:name => @presentation.name)
= render 'form'
-if current_user
  %div.hiddenthreads
    %h3=ta(:manually_hidden,:presentation)
    %ul
      - @hidden_posts.each do |p|
        %li= link_to p.title, p
  %div.pazuzus
    %h3=ta(:index,:pazuzu)
    = render :partial => 'pazuzus/list'
