= form_for @private_message do |f|
  =f.hidden_field :reply_to_stamp
  =error_messages_for @private_message.errors, :private_message
  -#check if it's nil, not just blank.  nil means that it's a fresh object, not a preview
  - if @private_message.text_container
    = render @private_message
  %div.field
    =f.label :recipient_user_login
    =f.text_field :recipient_user_login
  %div.field
    =f.label :msg_body
    =f.text_area :msg_body, :cols => 60, :rows => 5
  %div.actions
    = f.submit t('helpers.submit.private_message.preview'), :default => true, :name => :preview
    = f.submit

