%h1=ta(:index,:private_message)
= link_to ta(:write,:private_message), new_private_message_path
%table.persmsgs
  - @private_messages.each do |pm|
    %tr
      %td
        = render pm
= paginate @private_messages
