%h1 Admin settings
%ul
  %li
    = link_to 'Site configuration', admin_configurable_path
    %br/
    Generic site-wide settings
  %li
    = link_to 'Default View', edit_default_presentations_path
    %br/
    Set up how an unregistered user will see the index page
