%ul.threads
  - current_presentation_cache = current_presentation
  - @threads.each do |t|
    - if defined?(fast) && fast
      -# we do not always need to fetch the head if we're using a fast index
      %li{:class => cycle('odd','even')}
        - buf = ''
        -# 'start' post is nil, which means we display the whole thread.  We save a DB request by not fetching it!
        != fast_tree_cache(t,buf,nil,current_presentation_cache)
    - else
      %li{:class => cycle('odd','even')}= render :partial => 'posts/subtree', :locals => {:post => t.head, :thread => t}
%div.pager
  ="#{t(:Page).humanize}: "
  =paginate @threads
