%ul
  - @threads.each do |t|
    - if defined?(fast) && fast
      %li= render :partial => 'posts/subtree', :locals => {:post => t.fast_head, :thread => t, :fast => true}
    - else
      %li= render :partial => 'posts/subtree', :locals => {:post => t.head, :thread => t}
=paginate @threads
