%div.post-header
  %div.tools
    -# Check for persistence: we can't perform any of the actions on posts that are not saved (in preview, for instance)
    - if @post.persisted?
      -# Post Editing link (moved here from index to make it faster)
      - if permitted_to? :edit, @post
        = link_to t("Edit"), edit_post_path(@post)
        %br/
      - else
        (Can't edit)
      -# Moderation
      - if permitted_to? :remove, @post
        = link_to t("SPAM!"), remove_post_path(@post), :confirm => "Are you sure you want to remove this post as SPAM?"
  %div#mainpost
    %div.title
      = @post.title
    %div.author
      Sent by
      - user_link @post.user, @post.unreg_name
%div.post-body
  -# Note that we do not strip the post in DB, but rather do it in the view
  != @post.filtered_body.strip

