-smileys = SMILE_REGISTRY.inject([[]]) {|acc,kv| if acc.last.length == 4; acc.push([]); end; acc.last << kv[0]; acc}
%div{:id => "smiles", :style => 'display: none'}
  %table
    -smileys.each do |smile_row|
      %tr
        -smile_row.each do |smiley|
          %td=render :partial => 'posts/button', :locals => {:button => smiley}
