-# coding: utf-8
-# To improve performance, you must supply thread to this partial
- thr = @thread || thread
-if post
  - if defined?(fast) && fast
    - buf = ''
    -# User's view settings have been passed in controller
    -tz = current_presentation.tz
    != fast_tree(buf,thr.build_subtree_fast,post,thr.hides_fast,tz)
  -else
    = render :partial => 'posts/header_line', :locals => {:post => post, :thr => thr}
    -# TODO: this partial and heder_line compute the "hidden" two times.  This may be optimized
    -#We only hide posts in the index, hence @show_all_posts condition!
    - if post.hidden_by?(:user => current_user, :thread_hides => thr.hides) && !@show_all_posts
      %span.modifier=t("hidden")
    - else
      -# Only build subtree if it's not hidden
      - subtree = thr.build_subtree unless defined?(subtree) && subtree
      - children = subtree[post.id] || []
      - unless children.empty?
        %div.post-children
          %ul
            - children.each do |child|
              %li= render :partial => 'posts/subtree', :locals => {:post => child, :subtree => subtree, :thread => thr}
