-# coding: utf-8
-# To improve performance, you must supply thread to this partial
- thr = @thread || thread
-if post
  -#= render :partial => 'posts/header_line', :locals => {:post => post}
  - buf = ''
  != fast_tree(buf,thr.build_subtree,post)
