%div.post-intro
  Showing post
  = link_to "\##{@post.id}", post_path(@post)
  -if @post.deleted
    %span.deleted-mark DELETED!
=render @post
=render 'signature'
%div.thread-tree
  = render :partial => 'subtree', :locals => {:post => @thread.head, :fast => true}
-unless @post.deleted
  %div
    = render :partial => 'loginpost'
-else
  %div.hint
    You can't reply to a deleted post!


