%div.post-intro
  Showing post
  = link_to "\##{@post.id}", post_path(@post)
=render @post
=render 'signature'
%div.thread-tree
  = render :partial => 'subtree', :locals => {:post => @thread.head, :fast => true}
%div
  = render :partial => 'loginpost'


