%p
  Showing post
  -# Post Editing link (moved here from index to make it faster)
  - if permitted_to? :edit, @post
    = link_to t("Edit"), edit_post_path(@post)
  - else
    (Edit forbidden)
=render @post
=render 'signature'
%div.thread-tree
  = render :partial => 'subtree', :locals => {:post => @thread.head, :fast => true}
%div
  = render :partial => 'loginpost'


