=render @post
%div.after-post
  %div.threads
    = render :partial => 'subtree', :locals => {:post => @thread.head, :fast => true}
  -unless @post.deleted
    %div
      = render :partial => 'loginpost'
  -else
    %div.hint
      =ta('noreply.deleted',:post)


