/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  background-color: #F0F0F0;
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 0 none;
  margin: 0;
  padding: 0;
}

a {
  &:visited {
    color: #000088;
  }
}


span.h
{
  font-size: 4;
  font-weight: bold;
}
span.s
{
  font-size: 1;
  font-weight: bold;
}
span.inquote
{
/*TODO*/
}

/* Main application layout */

.header {
  font-family: Verdana,Arial;
  font-size: 70%;
  margin: 0;
  padding: -10px;
}

.menu {
  background-color: #E1E1E1;
  padding: 2px;
  text-align: center;
}

.info {
  background-color: #E1E1E1;
  margin: 0;
  padding: 10px;
}

.info .left {
  float: left;
  width: 60%;
}

.info .right {
  float: right;
  text-align: right;
  width: 30%;
}

/* Notifications bar */

#notice {
  color: green;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: .5em;
  padding: 3px;
  text-align: center;
  border: 2px dashed green;
}

#notice span {
  text-align: center;
}


.unread-pm
{
  color: red;
  font-weight: bold;
}
/* Even if we have already visited the unread pms link, it should be read anyway! */
.unread-pm:visited
{
  color: red;
  font-weight: bold;
}
