div.post-children
{
	padding: 4px 0 2px 10px;
}

div.post-body
{
	padding: 0px 0 10px 0px;
}

span.post-oneline
{
}

.post-oneline a
{
}

// Due to caching, when highlighting a post in a large thread, we can't just make it not <a> tag.  Instead, we adjust the stype of the wrapping <span> so that the link doesn't look like one.  Do not try to change this, please.
span.this-post-oneline a
{
  font-weight: bold;
  text-decoration: none;
  color: #000;
  &:visited {}
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

span.post-unreg
{
  font-weight: bold;
}

span.post-self a
{
  font-weight: bold;
  color: red;
}

// Post's header in single-post view
.post-header .title
{
  font-weight: bold;
}

.post-header .tools
{
  float: right;
  text-align: right;
}

.deleted-mark
{
  color: red;
  font-weight: bold;
}

