.post-header a {
  text-decoration: underline;
}

.post-oneline a {
  text-decoration: none;
  font-size: 111%;
}

// Due to caching, when highlighting a post in a large thread, we can't just make it not <a> tag.  Instead, we adjust the stype of the wrapping <span> so that the link doesn't look like one.  Do not try to change this, please.
span.this-post-oneline a
{
  font-size: 111%;
  font-size: 111%;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  &:visited {}
  &:hover {
    background-color: #fff;
    color: #000;
  }
}


/* User tags in posts */

span.user-self a {
  font-weight: bold;
  color: red;
}

span.user-other a {
  color: #207025;
  font-weight: bold;
}

/* note that user-unreg doesn't have <a>! */
span.user-unreg {
  font-weight: bold;
}

/* Posts hidde/show button */
.post-header .action {
  color: #900000;
  &:visited {
    color: #900000;
  }
}

/* Posts hidden/closed information bar */
.hidden-bar {
  font-size: 87%;
}
.hidden-bar .action {
  color: #900000;
}

.hidden-bar .count {
  font-weight: bold;
}

div.post-children
{
	padding: 4px 0 2px 10px;
}

div.post-body
{
	padding: 0px 0 10px 0px;
}

span.post-oneline
{
}

.post-oneline a
{
}

.post-deleted
{
  text-decoration: line-through;
}

// Post's header in single-post view
.post-header .title
{
  font-weight: bold;
}

.post-header .tools
{
  float: right;
  text-align: right;
}

.deleted-mark
{
  color: red;
  font-weight: bold;
}

