.post-header {
  font-size: 75%;
}
.post-header a {
  text-decoration: underline;
}

.post-oneline a {
  text-decoration: none;
  font-size: 133%;
}

// Due to caching, when highlighting a post in a large thread, we can't just make it not <a> tag.  Instead, we adjust the stype of the wrapping <span> so that the link doesn't look like one.  Do not try to change this, please.
span.this-post-oneline a
{
  font-size: 133%;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  &:visited {}
  &:hover {
    background-color: #fff;
    color: #000;
  }
}


/* User tags in posts */

/* users names are bigger in post headers */
.post-header span.user-self a {
  font-size: 133%;
}
/* however, when we show post author, we don't want it to be very visible */
.user-self a {
  font-size: 100%;
  font-weight: bold;
  color: red;
}

/* Ditto for the other users */
.post-header span.user-other a {
  font-size: 133%;
}

.user-other a {
  color: #207025;
  font-weight: bold;
}

/* note that user-unreg doesn't have <a>! */
span.user-unreg {
  font-size: 133%;
  font-weight: bold;
}

/* Posts hidde/show button */
.post-header .action {
  color: #900000;
  &:visited {
    color: #900000;
  }
}

/* Posts hidden/closed information bar */
.hidden-bar {
  margin-top: 4px;
  margin-bottom: 2px;
  font-size: 75%;
}
.hidden-bar .action {
  color: #900000;
}

.hidden-bar .count {
  font-weight: bold;
}

div.post-children
{
	padding: 4px 0 2px 10px;
}

div.post-body
{
	padding: 0px 0 10px 0px;
  margin-bottom: 10px;
}

span.post-oneline
{
}

.post-oneline a
{
}

.post-deleted
{
  text-decoration: line-through;
}

// Single-post view
#mainpost {
  padding: 5px 15px;
}

.after-post {
  padding: 5px;
}

// Post's header in single-post view
.post-intro {
  font-size: 80%;
  padding-left: -10px;
  margin-left: -10px;
}

.post-intro .tools
{
  float: right;
  text-align: right;
  margin: 10px;
}

.deleted-mark
{
  color: red;
  font-weight: bold;
}

.edited-at {
  font-style: italic;
}

// Post title
.post-title
{
  margin-top: 10px;
  font-size: 120%;
  font-weight: bold;
}

// Signature
.signature {
  margin-top: 25px;
  margin-bottom: 15px;
}

// Toolbar
.toolbar button {
  background-color: #DDDDDD;
  border: 0 none;
  color: #222222;
  font-size: 70%;
  font-weight: normal;
}

// Smileys
#smiles {
  padding: 3px;
  position: absolute;
  right: 1%;
}
