%div.activity
  =ta(:is,:activity)
  %span.hosts{:title => t('activity.hosts')}=hosts_activity
  %span.clicks{:title => t('activity.clicks')}=clicks_activity
  =ta(:during,:activity)
  =config_param(:activity_minutes)
  -# TODO: utilize pluralization from Russian Gem
  =ta(:minutes,:activity)
