%div.activity
  =ta(:is,:activity)
  %span.hosts=hosts_activity
  %span.clicks=clicks_activity
  =ta(:during,:activity)
  =Configurable[:activity_minutes]
  -# TODO: utilize pluralization from Russian Gem
  =ta(:minutes,:activity)
