This functionality is enabled for registered users only.  Log in 
=link_to 'here', login_path
(demo user 'students', password 'students'), or 
=link_to 'register', new_user_path
first, please.
%br/
Maybe unregs will be able to use it in beta version as well.

